@media (max-width: 991px) {
	body {
		background-image: none;	
	}
	h1 span{
		display: inline;
	}
	p a {
		display: none;
	}
}

@media (min-width: 992px) {
	body {
		background-image: url('omfgdogs.gif');
		background-repeat: repeat;
	}

	h1 span{
		display: none;
	}
	p a {
		font-family: 'Exo 2', sans-serif;
		font-size: 24px;
		text-decoration: none;
		color:#331A00;
		padding: 10px;
    	position: absolute;
    	bottom: 0;
    	left: 70%;
	}
}
